.aperitif {
  margin-top: 50px;
  @include line;
  &-img {
    height: 560px;
    width: 100%;
  }
  &-description {
    margin: 50px 0 90px 0;
    display: flex;
  }
  &-tile {
    width: 64%;
    font-weight: 400;
    font-size: 53px;
    line-height: 80px;
    color: $dark-color;
  }
  &-txt {
    width: 36%;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $dark-color;
  }
}
