p {
  color: $primary-color;
  @include clearfix;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 0 20px;
}

.promp {
  max-width: 1440px;
  background-color: black;
}

.promp-txt {
  padding: 10px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
