.container {
  margin: 0 auto;
  width: 1440px;
  padding: 0 20px;
}

.promp {
  background-color: $dark-color;
  &-txt {
    padding: 10px 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: $primary-color;
    text-align: center;
  }
}
