form {
  position: relative;
  margin-top: 14px;
  width: 100%;
  input {
    background-color: $dark-color;
    color: $primary-color;
    border: none;
    border-bottom: 1px solid #818181;
    width: 100%;
    padding: 15px 0 15px 15px;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
  }
}
.form-button {
  background-color: $dark-color;
  border: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $primary-color;
  cursor: pointer;
}
.form-action {
  position: absolute;
  right: 0;
  top: 14px;
}
