.magazine {
  margin-top: 55px;
  @include line;
  &-list {
    display: flex;
    justify-content: space-around;
  }
  &-item {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
  }
  &-icon {
    margin: 0 auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    display: block;
    margin-top: 40px;
    background-size: contain;
    &-food {
      background-image: url(/src/images/icons/food.svg);
    }
    &-nyt {
      background-image: url(/src/images/icons/middle.svg);
    }
    &-appetit {
      background-image: url(/src/images/icons/right.svg);
    }
  }
}
