.nav {
  &.nav--add {
    align-items: flex-end;
  }
  &-list {
    display: flex;
  }
  &-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary-color;
    & + li {
      margin-left: 60px;
    }
  }
}
