/*ты используешь scss а не обычный css, используем вложенность
  nav {
    &-list {
    }
    &-item {

    }
  }
*/

.nav-list {
  display: flex;
  /*поскольку ипользуешь флексы, то и для выравнивания элементов по нужному краю используем align-items 
  и margin прописываем один раз для всех айтемов для пространства между элементами, придется только отступы боковые для контейнера родительского добавить)
  nav стандартный просто display: flex и оставляем

  nav {
    display: flex;
    &.nav--add {
      align-items: flex-end;      
    }
    &-item {
      & + li {
        margin-left: 60px;
      }
    }
  }
  */
}

.nav-list-left {
}

.nav-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;  //для цветов создаем переменные
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); //для таких цветов тоже создаем переменные
  
}
.nav-item-left {
  margin-left: 60px;
}
.nav-item-right {
  margin-right: 60px;
}
