.qualities {
  display: flex;
  margin: 50px 0;
  align-items: flex-end;

  &-description {
    width: 30%;
    padding: 0 55px 0 0;
  }

  &-title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: $dark-color;
    &-special {
      font-size: 36px;
    }
  }
  &-txt {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $dark-color;
  }

  &-img {
    text-align: right;
    width: 70%;
  }
  &-foto {
    display: inline-block;
    max-width: 880px;
    width: 100%;
  }
}
