.review {
  background-color: $dark-color;
  padding: 50px 0;
  &-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  &-quot {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: $primary-color;
    margin-bottom: 17px;
  }

  &-client {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 17px;
  }

  &-status {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: $status-color;
    display: block;
  }

  &-item {
    max-width: 330px;
  }
}
