.shop {
  display: flex;
  margin: -96px 0 0;
  &-coll {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
  }
  &-img {
    background-image: url(/src/images/content/Rectangle.jpg);
  }
  &-info {
    background-color: $second-color;
    color: $primary-color;
    text-align: left;
    padding: 312px 0 0 60px;
  }
  &-title {
    font-weight: 400;
    font-size: 73px;
    line-height: 96px;
    font-family: "Roboto", serif;
  }
  &-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $primary-color;
    width: 80%;
    margin: 34px 0 0;
  }
  &-wrap {
    margin: 46px 0 0 0;
  }
  &-button {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark-color;
    background-color: $second-color;
    color: $dark-color;
    padding: 15px 40px;
    border: 2px solid $primary-color;
    cursor: pointer;
    &:hover {
      color: $primary-color;
      box-shadow: $shadow-color;
    }
  }
}
